<div class="center hero-unit">
    <h1>Userprog</h1>
    <h2>
      This is the home page for the
    <a href="http://en.wikipedia.org/wiki/Practice-based_professional_learning">Rails Practice</a>
     Eric E Jones
    </h2>
  <%= link_to "Sign up now!", signup_path, :class=> "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("genericcompany.png", :alt=> "Rails"), 'http://rubyonrails.org/' %>

