.center.hero-unit
  %h1 Userprog
  %h2
    This is the home page for the
    %a{:href => "http://en.wikipedia.org/wiki/Practice-based_professional_learning"} Rails Practice
    Eric E Jones
  = link_to "Sign up now!", signup_path, :class=> "btn btn-large btn-primary"
= link_to image_tag("genericcompany.png", :alt=> "Rails"), 'http://rubyonrails.org/'
