%footer.footer
  %small
    %a{:href => "http://en.wikipedia.org/wiki/Practice-based_professional_learning"} Rails Practice
    Eric E Jones
  %nav
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
      %li
        %a{:href => "http://news.railstutorial.org/"} News
